@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    margin: 0;
    font-family: 'Press Start 2P', cursive;
}

.background{
    width: 100%;
    height: 100vh;
    background-image: url(./assets/sky.jpg);
}

.moon{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 15%;
    left: 10%;
    border-radius: 50%;
    box-shadow:
    0 0 60px 30px rgb(225, 219, 40),   /* inner white */
    0 0 100px 60px  #fff/* middle magenta */
    
}

.ufo{
    position: absolute;
    width: 150px;
    height: 250px;
    top: calc(60% - 75px);
    left: calc(50% - 75px);
}

.counter-container{
    color: #fff;
    height: 15%;
    position: absolute;
    width: 100%;
}

.event-title{
    margin: 25px;
    font-weight: 700;
    font-size: 25pt;
    text-transform: uppercase;
}

.flex-justified-content-container{
    display: flex;
    justify-content: center;
}

.counter-item-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    font-size: 16pt;
}

.counter-item{
    font-weight: 700;
    font-size: 20pt;
    letter-spacing: 2px;

}

.align-items{
    align-items: center;
}
